


<div class="comment-bar">
    <div class="dropup">
        <div class="row">
            <div class="col-xs-9">
                <input data-emojiable="true" data-emoji-input="unicode" tag="tag" name="comment_body" class="form-control cus-inp" style="font-size: 14px;border-bottom: none;margin-top:5px" placeholder="Add comment..."/>
            </div>
            <div class="col-xs-3">
                <a onclick="postStuff()"><i style="padding:10px 10px;background: cornflowerblue;color:#FFF;cursor:pointer;" class="fa-2x pe-7s-paper-plane pull-right"></i></a>
            </div>
        </div>

        <i class="toggle-drop dropdown-toggle hidden" data-toggle="dropdown"></i>
        <div class="dropdown-menu tag-div col-xs-12 col-sm-10 col-md-8 col-lg-6">
        </div>

    </div>
</div>

